.burger-menu {
  width: 44px;
  height: 44px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 8px;
  border-radius: 100px;
  border: 1px solid $color-border-dark;

  @include media-tablet {
    display: flex;
  }
  &.active {
    gap: 0;
  }
}

.burger__item {
  @extend %transition;

  display: none;
  width: 16px;
  height: 1.5px;
  background-color: $color-text-dark;

  @include media-tablet {
    display: inline-block;
  }
}
.burger__item1 {
  &.active {
    transform: rotate(45deg) translateY(1px);
  }
}
.burger__item2 {
  &.active {
    transform: rotate(-45deg) translateY(-1.5px);
  }
}
