.button {
  cursor: pointer;
  border-radius: 100px;
  color: $color-text-dark;
}

.button__primary {
  padding: 20px 78px;
  background-color: $color-light;
  text-decoration: none;
  font-weight: 600;
}

.button__app {
  display: inline-block;
  width: 200px;
  height: 64px;
  background-image: url("../assets/icons/button-app-store.svg");
}
.button__google {
  display: inline-block;
  width: 200px;
  height: 64px;
  background-image: url("../assets/icons/button-google-play.svg");
}
