$color-text-dark: #403f3d;
$color-light: #e1d4c9;
$color-text-accent: #b0907a;
$color-text-accent: #b0907a;
$color-bg-backdrop: #403f3dcc;
$color-border-light: #c1b6ad;
$color-border-dark: #665f55;

$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 380px;
