.enjoy {
  padding: 0 0 100px;
}
.enjoy__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 40px;
  background:
    url("../assets/images/enjoy/img-hero.png"),
    lightgray 50% / cover no-repeat;
  max-width: 1360px;
  height: 100%;
  padding: 100px;
}
.enjoy__title,
.enjoy__text {
  max-width: 530px;
}

.enjoy__title {
  span {
    font-style: italic;
    color: $color-text-accent;
  }
}
.enjoy__text {
  color: $color-light;
}

.enjoy__button {
  display: flex;
}
