.menu__header {
  padding: 20px 0 15px;
}
.menu {
  padding: 0 0 100px;
}
.menu__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.menu__title {
  max-width: 800px;
  text-align: center;
  & span {
    font-style: italic;
    color: $color-text-accent;
  }
}
.menu__buttons {
  display: flex;
  gap: 16px;

  & .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 16px 8px 8px;
    border: 1px solid $color-border-light;
    background-color: inherit;
    &.active {
      background-color: $color-border-dark;
      color: $color-light;
    }
  }
}
