.footer {
  padding: 0 0 40px;
}
.footer__wrapper {
  background-color: $color-border-dark;
  border-radius: 40px;
  margin: 0 40px;
  padding: 100px;
  display: flex;
  gap: 100px;

  @include media-tablet {
    flex-direction: column;
    gap: 75px;
    padding: 100px 60px;
  }

  @include media-mobile {
    padding: 60px 16px;
    margin: 0 16px;
    gap: 10px;
  }

  & > div {
    max-width: 530px;
  }
}
.footer__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer__title {
  color: $color-text-accent;
  font-style: italic;

  @include media-mobile {
    @include font(3.2rem, 4rem, 600);
  }
  & span {
    color: $color-light;
    font-style: normal;
  }
}
.footer__networks {
  display: flex;
  gap: 12px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: $color-light;
}

.contacts__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  & > div a {
    display: flex;
    gap: 8px;
  }
  & a {
    text-decoration: none;
    font-weight: 600;
    color: $color-light;
  }
}
.contacts__title {
  padding-top: 30px;
}
.contacts__clock {
  display: flex;
  gap: 8px;
  padding-top: 10px;
}
