.navigation {
  display: flex;
  gap: 40px;

  @include media-tablet {
    flex-direction: column;
    gap: 60px;
    text-align: center;
  }
}

.navigation__link {
  @include font($weight: 600);

  text-decoration: none;
  color: $color-text-dark;

  @include media-tablet {
    @include font(3.2rem, 4rem, 600);
  }
}
